@model Book
@{	
}
<a class="card-link" asp-area="" asp-controller="Books" asp-action="Index">Regresar a libros</a> 
<h1>Detalle de @Model.titulo</h1>

<p>Titulo:@Model.titulo</p>
<p>Titulo:@Model.autor</p>
<p>Titulo:@Model.anio</p>